@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Kdam+Thmor+Pro&family=Nova+Square&family=Oswald:wght@300&family=Roboto:ital,wght@1,300&family=Rubik+Bubbles&family=Salsa&display=swap');

body {
    background-color: darkcyan;
    align-items: center;
    background-image: url("assets/animal-2027043_1280.png");
    background-size: 50%;
}

h1 {
    text-align: center;
    color: lightgreen;
    font-family: 'Salsa', cursive;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
}

#controls,
#stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
}

#monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: lightgreen;
    background-image: linear-gradient(lightgreen, lightgreen);
    border: 3px solid lightgreen;
    font-family: 'Salsa', cursive;
}